{erl_opts, [debug_info]}.

{plugins, [exerl]}.

{provider_hooks, [
    {post, [{compile, consolidate_protocols}]}
]}.

{deps, [
    {elixir_full, {ex, "1.18.4-otp-28"}},
    {cowboy, "2.13.0"},
    {live_vue, "0.7.1"},
    {phoenix, "1.8.0"}
]}.

% cowboy 2.13.0 requires cowlib > 2.14.0 and ranch > 2.0.0
% The overrides fixes the following rebar3 errors:
% ===> Dep cowlib has invalid version >= 2.14.0 and < 3.0.0
% ===> Dep igniter has invalid version ~> 0.6 and >= 0.6.16
% ===> Dep rewrite has invalid version ~> 1.1 and >= 1.1.1
{overrides, [
    {override, cowboy, [{deps, [cowlib, ranch]}]},
    {override, live_vue, [{deps, [igniter]}]},
    {override, igniter, [{deps, [rewrite]}]}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [erlview]}
]}.
